.link {
  &__container {
    background-color: var(--color-primary-light);
    padding: 1.2rem;
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-image: var(--gradient-light);
    }
  }

  &__logo {
    width: 4rem;
    height: 4rem;
  }
}
