.profession {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-size: 1.8rem;
  font-weight: 700;
  height: 4rem;
  width: 12.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.4rem;
}
